*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border-radius: none;
    border: none;
}
body{
    background-color: rgb(27, 12, 27);
}
.container{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.card h2{
    padding-left: 10px;
}
.card p{
    text-align: center;
    padding: 10px 10px;
}
.card{
    background-color: white;
    width: 220px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}
.card-image{
    display: block;
    width: 100%;
    background-size: cover;
    height: 170px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 20px 50px;
    display: block;
    text-align: center;
    border-radius: 10px;
}
.card:hover{
    background-color: blueviolet;
    color: white;
}